/*
 * Cascade Style Sheet for my Github page
 * @author: Bernardo Costa Nascimento
 * @charset "UTF-8";
 */

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body{
    background-color: rgb(3, 4, 6);
}

.main-container {
    min-height: 92.5vh; /* vh = viewport height */
}

.container{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

h1{
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    padding: 50px 50px 50px 50px;
    background-color: rgba(111, 180, 185, 1);
    color: rgb(229, 233, 218);
}